<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<title>Notas dos alunos</title>
</head>
<body>
	
	<h1>Cadastro de Notas:</h1>
	<form method=post"">
		Nome: <input type="text" value="" name="nome"/>
		R.A: <input type="text" value="" name="ra"/>
		Ano: <input type="text" value="" name="ano"/>
		E-mail: <input type="text" value="" name="email"/>
		Nome da Matéria: <input type="text" value="" name="materia"/>
		Nota: <input type="text" value="" name="nota"/>
		
		<button type="submit"> Salvar</button>
		
	</form>
	
</body>
	
	
</html>